*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: IRAN-Sans;
  color: white;
}
@font-face {
  font-family: IRAN-Sans-Regular, IRAN-Sans-Bold;
  src: url(fonts/IRAN-Sans/IRAN-Sans-Regular.ttf),
    url(fonts/IRAN-Sans/IRAN-Sans-Bold.ttf);
}
body {
  width: 100vw;
  height: 100vh;
}
header {
  width: 95%;
  height: 730px;
  background-position: -100px -100px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}
.all__box {
  background-image: linear-gradient(
    rgba(68, 127, 68, 0.594),
    rgba(117, 255, 117, 0.594)
  );
  height: 650px;
  width: 100%;
}
.header__box-head {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__box-head-icon {
  margin-left: 40px;
}
.head__icon-img {
  width: 70px;
  height: 30px;
}

.header__box-center {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.header__box-center-title {
  font-size: 4em;
  margin-bottom: 10px;
  margin-top: 10px;
}
.header__box-center-paragraph {
  font-size: 1.3em;
}
.header__box-end {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__box-end-box__link {
  background-color: white;
  border-radius: 30px;
  height: 50px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transition-delay: background-color 0.1s;
}
.header__box-end-box__link:hover {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 30px;
  width: 320px;
  height: 80px;
}
.box__link-text {
  display: block;
  text-align: center;
  line-height: 48px;
  width: 280px;
  height: 50px;
  color: black;
  transition: all;
  border-radius: 30px;
  background-color: white;
}
.header__end {
  margin-top: 90px;
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: 300px;
  transform: skewY(-7deg);
}

.menue {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  right: 10%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  z-index: 1000;
}

.burger input {
  opacity: 0;
  z-index: 1000;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  z-index: 1000;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;

  z-index: 1000;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;

  z-index: 1000;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
  z-index: 1000;
}

.burger input:checked ~ span:nth-of-type(1) {
  z-index: 1000;
  transform: rotate(45deg);

  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  z-index: 1000;
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  z-index: 1000;
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.burger__back {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: fixed;
  right: 10%;
  top: 10%;
  cursor: pointer;
  display: block;
  transition: transform 1.5s;
  background: radial-gradient(rgb(68, 127, 68), rgb(117, 255, 117));
  overflow: hidden;
}
.burger input:checked ~ div:nth-of-type(1) {
  transform: scale(220);
  background: radial-gradient(
    rgb(68, 127, 68),
    rgb(80, 179, 80),
    rgb(117, 255, 117)
  );
  z-index: 100;
}
.burger__back-link {
  position: fixed;
  top: 16%;
  right: 40%;
  transition: all 1s;
  transform: translate(1000px);
  transition-timing-function: ease;
  text-align: center;
}
.burger input:checked ~ div:nth-of-type(2) {
  transform: translate(0px);
  z-index: 100000;
}

.back-link {
  margin-top: 20px;
  font-size: 2em;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}
.back-link:hover {
  color: rgb(68, 127, 68);
}

.back-link::before,
.back-link::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.back-link::before {
  left: -10px;
  background: #ffffff;
}

.back-link::after {
  right: -10px;

  background: #fffdfd;
}

.back-link:hover::before,
.back-link:hover::after {
  width: 58%;
}
